<div class="body-container">
<aside>
    {{#if news}}
    <ul class="news card-side">
        <li><h3>Got News?</h3></li>
        {{#each news}}
        <li>
            <div>
                <img src="{{ picture }}" class="news-picture">
            </div>
            <div class="news-title">
                {{ title }}
            </div>
            <div class="news-author">
                {{ author }}
            </div>
            <div class="news-at">
                {{ createdAt }}
            </div>
            <div class="news-content">
                {{ content }}
            </div>
        </li>
        {{/each}}
    </ul>
    {{/if}}
</aside>
<main>
    {{#if cereals}}
    <ul class="cereals">
        {{#each cereals}}
            <li>
                <div class="card">
                    <div class="date">
                        {{ createdAt }}
                    </div>
                    <div class="picture">
                        <img src="{{ picture }}" class="box">
                    </div>
                    <div class="text">
                        <div class="name inline">
                            <b>Name</b>: {{ name }}
                        </div>
                        <div class="brand inline">
                            <b>Brand</b>: {{ brand }}
                        </div>
                        <div class="milk inline">
                            <b>Milk used</b>: {{ milkType }} milk
                        </div>
                        <div class="review inline">
                            <b>Review</b>: {{ review }}
                        </div>
                    </div>
                    <div class="buttons">
                        <div>
                            <form method="GET" action="/cereal/{{id}}/edit">
                                <input type="submit" value='Update' class='btn-cereal'>
                            </form>
                        </div>
                        <div>
                            <form method="POST" action="/cereal/{{id}}?_method=DELETE">
                                <input type="submit" value='Delete' class='btn-cereal'>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
    {{/if}}
</main>
</div>