{{#if cereal}}
<div class="card">
    <div class="date">
        {{ createdAt }}
    </div>
    <div class="picture">
        <img src="{{ picture }}" class="box">
    </div>
    <div class="text">
        <div class="name inline">
            <b>Name</b>: {{ name }}
        </div>
        <div class="brand inline">
            <b>Brand</b>: {{ brand }}
        </div>
        <div class="milk inline">
            <b>Milk used</b>: {{ milkType }} milk
        </div>
        <div class="review inline">
            <b>Review</b>: {{ review }}
        </div>
    </div>
    <div class="buttons">
    <div>
        <form method="GET" action="/cereal/{{id}}/edit" class="cereal-form">
            <input type="submit" value='Update' class='btn-cereal'>
        </form>
    </div>
    <div>
        <form method="POST" action="/cereal/{{id}}?_method=DELETE">
            <input type="submit" value='Delete' class='btn-cereal'>
        </form>
    </div>
    </div>
</div>
{{/if}}