{{#if cereal}}
<div class="container card cereals show">
    <div class="date">
        {{ cereal.createdAt }}
    </div>
    <div class="picture">
        <img src="{{ cereal.picture }}" class="box">
    </div>
    <div class="text">
        <div class="name inline">
            <b>Name</b>: {{ cereal.name }}
        </div>
        <div class="brand inline">
            <b>Brand</b>: {{ cereal.brand }}
        </div>
        <div class="milk inline">
            <b>Milk used</b>: {{ cereal.milkType }} milk
        </div>
        <div class="review inline">
            <b>Review</b>: {{ cereal.review }}
        </div>
    </div>
    <div class="buttons show">
    <div>
        <form method="GET" action="/cereal/{{id}}/edit" class="cereal-form">
            <input type="submit" value='Update' class='btn-cereal'>
        </form>
    </div>
    <div>
        <form method="POST" action="/cereal/{{id}}?_method=DELETE">
            <input type="submit" value='Delete' class='btn-cereal'>
        </form>
    </div>
    </div>
</div>
{{/if}}